name: CI
on:
  schedule:
    - cron: '1 * * * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - name: Setup
        run: |
          sudo apt update -y -qqq
          sudo apt autoremove --purge -y needrestart || true
          sudo apt install -y bash wget curl openssl
          sudo ln -svf bash /bin/sh
          sudo wget https://raw.githubusercontent.com/icebluey/docker/refs/heads/master/scripts/clean-os.sh -O /tmp/clean-os.sh
          sudo bash /tmp/clean-os.sh
          sudo ln -svf bash /bin/sh
          sudo rm -fr /tmp/*
          sudo df -Th

      - name: Download
        run: sudo /bin/bash dl-nodejs-lts.sh

      - name: Generate release tag env
        run: |
          _release_ver="$(/bin/ls -1 /tmp/_output_lts/node*.tar.* | grep -iv sha256 | sed 's/-/\n/g' | grep -iEv '^x|/|lin' | grep -oE '([0-9]+)\.([0-9]+)\.([0-9]+)' | tail -n1)"
          echo "_release_ver=${_release_ver}" >> $GITHUB_ENV

      - name: Upload files
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ env._release_ver }}-lts
          files: /tmp/_output_lts/node*.tar.xz*
          overwrite_files: true

      - name: Delete
        run: |
          sed -e "/^_release_ver=/d" -i $GITHUB_ENV
          sudo rm -fr /tmp/_output_lts
